# Exclude build files
build/
out/
*.elf
*.exe
*.pdb
*.ilk

# Exclude mod files and userdata
bin/Userdata.bin
bin/Image.bin
bin/Packs/*
!bin/Packs/README.txt

# Exclude data files
data/

# Exclude IDE files
.vscode/
.vs/
